

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-text-fill: cyan;
    -fx-control-inner-background: derive(#271313,40%);
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: white;
    -fx-font-family: "Tahoma";
    -fx-font-size: 11pt;
    -fx-padding: 5 5 5 5;
}
